.image-card {
    width: 400px;
    margin-bottom: 2em;
}

.card-image {
    height: 300px;
}

.card-desc {
    height: 300px;
    overflow-y: auto;
}

.liked-card {
    color: red;
}

h1 {
    margin: auto;
    font-size: 150%;
}

.spinner {
    position: absolute;
    top: 48%;
    left: 48%;
}